@use "../abstracts/mixins" as mixin;

.bgBlur-desktop {
	visibility: hidden;
	position: absolute;
	z-index: 3;
	inset: 0;
	background-color: var(--black-background);
	backdrop-filter: blur(5px);
}

.show-bg {
	visibility: visible;
}

main {
	margin-bottom: 50px;
	position: relative;
	z-index: 1;

	.slider {
		height: 300px;
		width: 100%;
		position: relative;
		overflow-x: hidden;
		background-color: rgb(189, 89, 3); // hide the border of the slides

		.slide {
			position: absolute;
			inset: 0;
			z-index: 1;
			background: center no-repeat;
			background-size: cover;
			transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}
		}

		.button-left {
			left: 10px;
			background-image: url("../images/icon-previous.svg");
		}

		.button-right {
			right: 10px;
			background-image: url("../images/icon-next.svg");
		}

		button {
			@include mixin.slider-button;
		}
	}

	.purchase {
		.purchase-content {
			@include mixin.container;
			margin-top: 30px;

			> h1 {
				font-size: 0.7rem;
				font-weight: 700;
				color: var(--orange);
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			> h2 {
				font-size: 1.5rem;
				font-weight: 700;
				color: var(--black);
				margin: 8px 0;
			}

			> p {
				color: var(--dark-grayish-blue);
				font-size: 0.9rem;
				line-height: 1.5;
			}

			.number-data {
				margin: 15px 0;
				@include mixin.flex-center;

				.price-with-discount {
					color: var(--black);
					font-size: 1.5rem;
					font-weight: 700;
					position: relative;

					&::after {
						content: "50%";
						display: inline-block;
						position: absolute;
						right: -60px;
						padding: 5px;
						font-size: 0.9rem;
						font-weight: 700;
						color: var(--orange);
						border-radius: 5px;
						background-color: var(--pale-orange);
					}
				}

				.price-without-discount {
					color: var(--grayish-blue);
					text-decoration: line-through;
					font-weight: 700;
					font-size: 0.9rem;
				}
			}

			.input-block {
				margin: 15px 0;
				@include mixin.flex-center;
				flex-direction: column;
				row-gap: 25px;

				.input {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 10px;
					background-color: var(--light-grayish-blue);

					button {
						border: none;
						padding: 20px;
						background: url("../images/icon-minus.svg") center no-repeat;

						&:hover {
							cursor: pointer;
						}
					}

					.increment {
						background-image: url("../images/icon-plus.svg");
					}

					.show-unity {
						font-weight: 700;
					}
				}

				> button {
					display: flex;
					justify-content: center;
					width: 100%;
					padding: 10px;
					border: none;
					border-radius: 10px;
					background-color: var(--orange);
					box-shadow: 0 5px 20px var(--orange);
					color: var(--white);
					font-weight: 700;

					span {
						display: block;
						margin-right: 20px;
						width: 22px;
						height: 20px;
						background: url("../images/icon-cart-button.svg") center no-repeat;
					}

					&:hover {
						opacity: 0.8;
						transform: scale(1.1);
						cursor: pointer;
					}
				}
			}
		}
	}
}

.lightbox-modal {
	display: none;
}
