@mixin container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
@mixin center-nav-elements {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
@mixin flex-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin slider-button {
	display: block;
	position: absolute;
	z-index: 2;
	height: 35px;
	width: 35px;
	top: 50%;

	border: none;
	border-radius: 50%;
	background: var(--light-grayish-blue) no-repeat center;
	background-size: 13 18;
	opacity: 0.8;

	&:hover {
		cursor: pointer;
	}
}
